/*
 * Corne Wireless ZMK Keymap
 * Converted from Unicorne VIA layout
 *
 * Layer 0: Default (QWERTY + home row mods)
 * Layer 1: Lower (numbers, F-keys, arrows, media)
 * Layer 2: Raise (symbols)
 * Layer 3: Adjust (macros / gaming-ish layer)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        mac_ss: mac_ss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(N4))>;
        };
        alt_1: alt_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N1)>;
        };
        alt_2: alt_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N2)>;
        };
        alt_3: alt_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N3)>;
        };
        alt_4: alt_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N4)>;
        };
        alt_5: alt_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N5)>;
        };
        alt_6: alt_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N6)>;
        };
    };

    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp TAB    &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y   &kp U       &kp I       &kp O       &kp P          &kp BSPC
                &kp LALT   &mt LSHFT A &mt LCTRL S &mt LGUI D  &mt LALT F  &kp G           &kp H   &mt RALT J  &mt RGUI K  &mt RCTRL L &mt RSHFT SEMI &kp SQT
                &kp LSHFT  &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N   &kp M       &kp COMMA   &kp DOT     &kp FSLH       &kp RSHFT
                                                    &mo 3       &mo 1       &kp SPACE       &kp RET &mo 2       &mo 3
            >;
        };

        lower_layer {
            bindings = <
                &kp ESC     &kp N1  &kp N2  &kp N3       &kp N4       &kp N5              &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp DEL
                &kp LCTRL   &kp F12 &kp F2  &kp C_VOL_DN &kp C_VOL_UP &kp C_PP            &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &none           &rgb_ug RGB_BRI
                &mac_ss     &kp F1  &kp F2  &kp F3       &kp F4       &none               &rgb_ug RGB_EFF &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_SAD &rgb_ug RGB_SAI &rgb_ug RGB_BRD
                                            &kp LGUI     &trans       &trans              &trans          &trans          &kp RALT
            >;
        };

        raise_layer {
            bindings = <
                &kp TAB    &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT       &kp CARET &kp AMPS  &kp ASTRK &kp GRAVE &kp TILDE &kp DEL
                &kp LCTRL  &kp SQT   &kp LBKT  &kp LBRC  &kp LPAR  &trans          &kp FSLH  &kp MINUS &kp EQUAL &kp COLON &kp SEMI  &trans
                &trans     &kp DQT   &kp RBKT  &kp RBRC  &kp RPAR  &trans          &kp BSLH  &kp UNDER &kp PLUS  &kp PIPE  &kp QMARK &kp RSHFT
                                               &trans    &trans    &trans          &trans    &trans    &trans
            >;
        };

        adjust_layer {
            bindings = <
                &kp TAB    &alt_1  &alt_2  &alt_3  &alt_4  &alt_5          &alt_6  &kp U   &kp I     &kp O   &kp P     &kp BSPC
                &kp LCTRL  &kp A   &kp S   &kp D   &kp F   &kp G           &kp H   &kp J   &kp RALT  &kp L   &kp SEMI  &kp SQT
                &kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &kp B           &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH  &kp ESC
                                           &tog 3  &kp N4  &kp SPACE       &kp RET &mo 2   &mo 3
            >;
        };
    };
};
